set timeout=0
set default=0

# Video modlarını yükle
insmod all_video
insmod vbe
insmod vga
insmod video_bochs
insmod video_cirrus

# Terminal çıktısını console'da tut (debug için)
terminal_output console

menuentry "AscentOS 64-bit VESA Test" {
    # VESA grafik modu ayarla
    set gfxmode=1024x768x32
    set gfxpayload=keep
    
    # Multiboot2 ile başlat
    multiboot2 /boot/kernel64.elf
    boot
}