#!/bin/sh
# x86_64-ascentos cross file for Meson
#
# This file tells Meson how to cross-compile for AscentOS using the musl toolchain.

[binaries]
c = '@CC@'
cpp = '@CXX@'
ar = '@AR@'
strip = '@STRIP@'
pkgconfig = 'pkg-config'

[host_machine]
system = 'linux'
cpu_family = 'x86_64'
cpu = 'x86_64'
endian = 'little'

[properties]
needs_exe_wrapper = true
pkg_config_libdir = '@SYSROOT@/lib/pkgconfig:@SYSROOT@/share/pkgconfig'
sys_root = '@SYSROOT@'
